
<h2>mostrando post.all</h2>
<p> <%=@posts.count%> </p>
<%= link_to "NEW post.", posts_new_path, class:'btn btn-dark'%>

<% @posts.each do |post|%>
<h2><%=post.title%></h2>
<p><%= post.content%></p>
<%end%>